//- @page: All
//- @confluence: https://horizontal.atlassian.net/wiki/display/RJADV/Component+-+Billboard


.col-md-12
    h2 Component Billboard -- Normal
    include ../elements/element--button.jade