//- @page: Contact Page
//- @confluence: https://horizontal.atlassian.net/wiki/display/RJADV/Template+-+Home

extend layout/layout--base.jade

append content

    include components/component--billboard.jade
    include components/component--niche-tiles.jade
    include components/component--team-tile.jade
    include components/component--quote.jade
    include components/component--category.jade
    include components/component--media-carousel.jade